{% extends "base.html" %}
{% from 'fields.html' import fld %}
{% from 'nolabel.html' import nolabel %}

{% block title %}
  <title>{% if form.bill_id.data %}Bill {{form.bill_id.data}} : {%endif %}Bills</title>
{% endblock %}
{% block searches %}
    {% include 'clientsearch.html' %}
{% endblock searches %} 
{% block content %}
{% if form.bill_id.data %}
    <h2 class="inlineform"> Bill {{form.bill_id.data}} </h2>
    <form action="/bill/{{form.bill_id.data}}" method="POST" class="inlineform">
{% else %}
    <h2 class="inlineform"> New Bill </h2>
    <form action={{ url_for('.bill_create') }} method="POST" class="inlineform">
{% endif %}
{%  if form.bill_id.data %}{% set readonly = true %} {% endif %}
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
<div class="inputline">{{fld(form.client_id, readonly=readonly)}} {% if form.client_id.data %}<a href="{{ url_for('client.clients', id=form.client_id.data)}}"> Client data </a>{% endif %}</div>
<div class="inputline">{{fld(form.billing_ccy, readonly=readonly)}}</div>
<div class="inputline">{{fld(form.date_sale, readonly=readonly)}}</div>
<div class="inputline">{{fld(form.bill_replaced, readonly=readonly)}}</div>
<table>
<th>Short desc </th> <th> Description </th> <th> Number of/measure </th> <th> price </th><th> Total </th>
{% for line in form.lines.entries %}
{% if line.unit_price.data and line.number_of.data -%} 
{% set total = line.unit_price.data * line.number_of.data %} 
{% else -%} {% set total = 0 %}
{%- endif %}
<tr><td> {{nolabel(line.short_desc)}} </td><td>{{nolabel(line.long_desc)}} </td><td>{{nolabel(line.number_of)}}{{nolabel(line.measured_in)}}</td><td>{{nolabel(line.unit_price)}}</td><td>{{line.edited_amount(total, currency=bill.billing_ccy)}}</td> </tr>
{% endfor %}
</table><br/><br/>
{{form.update}} {{form.add_1}} {{form.add_more}}
</form>
{% if debtor_signals %}
    <h2>Debtor signal(s) </h2>
{% for signal in debtor_signals %}
    Signal <a href={{ url_for("signal_update", signal_id=signal.id) }}>signal.id</a>
    From date {{ signal.date_start.strftime("%d %B %Y") }}
    {% if signal.date_end %}
    To date {{ signal.date_end.strftime("%d %B %Y") }}
    {% else %}
    <br/>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
