{% extends "base.html" %}


{% block content %}
{% if form.id.data %}
    <h2> Client {{form.initials.data}} {{form.surname.data}}</h2>
    <form action="/client/{{form.id.data}}", method="POST", class="inlineform">
{% else %}
    <h2> New client </h2>
    <form action="/client/new", method="POST", class="inlineform">
{% endif %}
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
<div class="inputline">{{ form.surname.label(class="lbl") }} {{form.surname}}</div>
<div class="inputline">{{ form.initials.label(class="lbl") }} {{form.initials}}</div>
<div class="inputline">{{ form.first_name.label(class="lbl") }} {{form.first_name}}</div>
<div class="inputline">{{ form.birthdate.label(class="lbl") }} {{form.birthdate}}</div>
<div class="inputline">{{ form.sex.label(class="lbl") }} {{form.sex}}</div>
{{form.update}} {{form.addmore}}
</form>
{% endblock content %}
