{% extends "base.html" %}

{% from "fields.html" import fld %}

{% block content %}
<div class="page">
<h2>Client {{client.initials}} {{client.surname}} </h2> </br></br>
<table>
{% for address in client.addrs %}
<tr><td>Address</td> <td>{%if address.street %}{{address.street}} {{address.house_number}}{%else%}
Post box   {{address.po_box}}{% endif %}</br>
           {{address.postcode}} {{address.town_or_village}} </td><td> <a href={{url_for('.confirm_delete_address', id=client.id, address_id=address.id)}}> Delete address</a></td></tr>
{% endfor %} </table>
<form action="{{ url_for('.add_address', id=client.id)}}" method="POST" class="inlineform">
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
<div class="inputline">{{ fld(form.street)}}
</div>
<div class="inputline">{{ fld(form.house_number) }}
</div>
OR
<div class="inputline">{{ fld(form.po_box) }}
</div> </br>
<div class="inputline">{{ fld(form.postcode) }}
</div>
<div class="inputline">{{ fld(form.town_or_village) }}
</div>
<div class="inputline">{{ fld(form.country) }}
</div>
<div class="inputline">{{ fld(form.address_use) }}
</div>
{{form.update}}
</form>
</div>
{% endblock content %}
