{% extends "base.html" %}


{% block content %}
<div class="page">
<h2>Client {{client.initials}} {{client.surname}} </h2> </br></br>
{% for mail in client.emails %}
Mail address {{mail.mail_address}}{%if mail.preferred %}(preferred){% endif %}
{% endfor %} </br>
<form action="{{ url_for('add_mail', id=client.id)}}" method="POST" class="inlineform">
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
<div class="inputline">{{ form.mail_address.label(class="lbl") }} {{form.mail_address}}
</div>
<div class="inputline">{{ form.preferred.label(class="lbl") }} {{form.preferred}}
</div>
{{form.update}}
</form>
</div>
{% endblock content %}
