{% extends "base.html" %}
{% from 'fields.html' import fld %}

{% from "mainmenu.html" import mainmenu %}

{% block menu %}
    {{ mainmenu(client_surname=form.surname.data, client_id=form.id.data) }}
{% endblock menu %}

{% block title %}
  <title>{% if form.surname.data %}{{form.initials.data}} {{form.surname.data}} : {%endif %}Clients</title>
{% endblock %}
{% block searches %}
    {% include "clientsearch.html"%}
{% endblock searches %}
{% block content %}
{% if form.id.data %}
    <h2 class="inlineform"> Client {{form.initials.data}} {{form.surname.data}}</h2>
    <form action="/client/{{form.id.data}}" method="POST" class="inlineform">
{% else %}
    <h2 class="inlineform"> New client </h2>
    <form action={{ url_for('.create_client') }} method="POST" class="inlineform">
{% endif %}
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
<div class="inputline">{{fld(form.surname)}} </div>
<div class="inputline">{{fld(form.initials)}}</div>
<div class="inputline">{{fld(form.first_name)}}</div>
<div class="inputline">{{fld(form.birthdate)}}</div>
<div class="inputline">{{fld(form.sex)}}</div>
{{form.update}} {{form.addmore}}
</form>
{% endblock content %}
