{% extends "base.html" %}
{% from "mainmenu.html" import mainmenu %}

{% block title %}
    <title>{% if search_form.search_for.data %} Client list for {{ search_form.search_for.data }} {% else %} Debtors client list {% endif %}</title>
{% endblock title %}

{% block menu %}
    {{ mainmenu() }}
{% endblock menu %}

{% block searches %}
   {% include "clientsearch.html" %}
{% endblock searches %}

{% block content %}
<div class="content-main">
<h2> Client list </h2>
{% for client in client_list %}
    Name      <a href={{url_for('.clients', id=client.id)}}>{{client.initials}}{{client.surname}}</a> </br>
    {% if client.first_name %}
    First name {{client.first_name}} </br>
    {% endif %}
    Birth date {% if client.birthdate %}{{ client.birthdate.strftime('%d-%m-%Y') }}{% endif %} </br>
    Sex        {% if client.sex == 'F'%} Female {% endif %}
               {% if client.sex == 'M'%} Male {% endif %}
               {% if client.sex == ' '%} - {% endif %} </br></br>
    Mail addresses </br></br>
    {% for email in client.emails %}
                {{email.mail_address}} {% if email.preferred %} (preferred) {% endif %} </br> </br>
    {% endfor %}
    </br>
    Traditional addresses </br>
    </br>
    {% for address in client.addrs %}
    <a href={{ url_for("client.change_address", id=client.id, address_id=address.id) }}> Change/delete this address </a></br>
    {% if address.street %}
                 {{address.street}} {{address.house_number}} </br>
    {% endif %}
    {% if address.po_box %}
                 Postbox {{address.po_box}} </br>
    {% endif %}
                 {{ address.postcode }} {{ address.town_or_village }} </br>
    {% endfor %}
    </br>Bank accounts : </br></br>
    {% for account in client.accounts %}
    <a href={{ url_for("client.change_accounts", id=client.id, account_id=account.id) }}>{{ account.iban }} </a>  {{ account.bic }} in the name of {{ account.client_name }} </br>
    {% endfor %}

{% endfor %}
</div>
{% endblock content %}

