{% extends "base.html" %}
{% from "mainmenu.html" import mainmenu %}

{% block title %}
  <title>{{client.client.initials}} {{client.client.surname}} history</title>
{% endblock %}

{% block menu %}
    {{ mainmenu(client_id=client.client.id) }}
{% endblock menu %}

{% block searches %}
    {% include "clientsearch.html"%}
{% endblock searches %}

{% block content %}
<h2 class="inlineform"> Client <a href={{url_for("client.clients", id=client.client.id)}}> {{client.client.initials}} {{client.client.surname}}</a></h2>
<div class="inlineform">
<br/><h3>Postal address</h3><br/>
{% if client.address %}
{% if client.address.street %}
    {{ client.address.street }}  {{ client.address.house_number }}
{% endif %}
{% if client.address.po_box %}
    Postbox {{ client.address.po_box }}
{% endif %}
<br/>    {{ client.address.postcode }} {{ client.address.town_or_village }}
{% endif %}
<br/><h3>Mail addresses</h3><br/>
{% for client_email in client.mail_addresses %}
    {{ client_email.mail_address }}</br>
{% endfor %}
<br/><h3>Financial history</h3><br/>

{% for bill_or_payment in client.bills_payments %}
{% if bill_or_payment.bill_id %}

<div>Bill <a href={{url_for('bill_detail', bill_id=bill_or_payment.bill_id)}}>{{bill_or_payment.bill_id}}</a> for amount {{bill_or_payment.billing_ccy}}  {{ bill_or_payment.currency }} {{bill_or_payment.total }}</div>
Date of bill/sale {{ bill_or_payment.date_bill }} <br/>
{% if  bill_or_payment.payment_id %}
<div class="fldindent">Paid from payment {{ bill_or_payment.payment_id }} at {{ bill_or_payment.payment_date }} </div>
{% endif %}
<br/><br/>
{% endif %}
{% if bill_or_payment.id %}
Payment <a href={{ url_for("payment_update", payment_id=bill_or_payment.id)}}>{{ bill_or_payment.id }}</a>, amount {{ bill_or_payment.payment_ccy }} {{ bill_or_payment.payment_amount }} </br>Value date (received) {{ bill_or_payment.value_date }} <br/>
{% endif %}
{% for payment in bill_or_payment.from_payments %}
<div class="fldindent">From payment {{ payment.from_payment }} amount {{payment.from_ccy}} {{ payment.from_amount }}
</div><br/>
{% endfor %}<br/>
{% endfor %} </div>
</div>
{% endblock content %}
