{% extends "base.html" %}
{% from 'fields.html' import fld %}
{% from 'nolabel.html' import nolabel %}

{% block title %}
  <title>Payment {{payment.id}} assignment</title>
{% endblock %}

{% block content %}

<h2>Payment to assign</h2>

{% include "paymenthead.html" %}

<h2> Select payments </h2>
<form method="GET">
<div class="inputline">{{fld(search_form.find_name)}}</div>
<div class="inputline">{{search_form.find_number.label(class="lblindent")}}{{nolabel(search_form.find_number)}}</div>
<div class="inputline">{{search_form.find_bank_account.label(class="lblindent")}}{{nolabel(search_form.find_bank_account)}}</div>
<div>{{search_form.search_client}}</div>
</form>
<br/>
<table>
</div>
<br/>
<table>
    {% for to_payment in payments_found %}
<tr>
<form action={{url_for('.payment_reverse', payment_id=to_payment.id) }} method="POST" class="inlineform">
<td>Our ref.: {{to_payment.our_ref}}</td>
<td>{{to_payment.payment_ccy}}{% if to_payment.payment_ccy != payment.payment_ccy %}<br/>{{to_payment.payment_ccy}}{% endif %}</td>
<td>{{to_payment.payment_amount}}</td>
<td>{{to_payment.debcred}}</td>
<td>Id: {{to_payment.id}}</td>
<td>{{to_payment.add_to_payment}}</td>
</form>
</tr>
    {% endfor %}
    {% if payments_found|length == 0 and (payment_form.find_our_ref.data or payment_form.find_bank_ref.data) %}
No payment found
    {% endif %}

{% endblock content %}

