{% extends "base.html" %}
{% from 'fields.html' import fld %}
{% from 'nolabel.html' import nolabel %}

{% block title %}
  <title>Payment {{payment.id}} assignment</title>
{% endblock %}

{% block content %}
<div class="staticline">
<div class="lbl"> Currency </div>{{payment.payment_ccy}}<br/>
<div class="lbl">Amount </div> {{payment.payment_amount}} {{payment.debcred}}<br/>
<div class="lbl">Debit/credit </div>{{payment.debcred}}<br/>
<div class="lbl">Our reference </div>{% if payment.our_ref %} {{payment.our_ref}} {% endif%}<br/>
<div class="lbl">Client reference </div>{% if payment.client_refrence %} {{payment.client_ref}} {% endif %}<br/>
<div class="lbl">Client IBAN </div>{% if payment.creditor_iban %}{{payment.creditor_iban}} {% endif %}<br/>
<div class="lbl">Client name </div>{% if payment.client_name %}{{payment.client_name}} {% endif %}<br/>

<h2> Select debt </h2>
<form method="GET">
<div class="inputline">{{fld(search_form.find_name)}}</div>
<div class="inputline">{{search_form.find_number.label(class="lblindent")}}{{nolabel(search_form.find_number)}}</div>
<div class="inputline">{{search_form.find_bank_account.label(class="lblindent")}}{{nolabel(search_form.find_bank_account)}}</div>
<div>{{search_form.search_client}}</div>
<form/>
<br/>
<table>
</div>
    {% for bill in search_results %}
<tr>
<form action={{ url_for('.payment_assign', payment_id=payment.id, bill_id=bill.bill_id) }} method="GET" class="inlineform">
<td>{{bill.bill_id}}</td><td> {{ bill.client.surname }}</td><td> {{ bill.client.initials }}</td><td> {{bill.billing_ccy}}</td><td> {{bill.billing_amount}}</td><td><input type="submit" value="Pay this" id="pay"/>
</td></form>
</tr>{% endfor %}
</table>
{% endblock content %}
